name: Lint with Prettier and ESLint

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "nmp"

      - name: Install dependencies
        run: npm install

      - name: Lint with Prettier
        run: npm run prettier:check

      - name: Lint with ESLint
        run: npm run lint
